spring:
  application:
    name: gateway_service
  cloud:
    discovery:
      enabled: false
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: registry_login_logout
          uri: http://localhost:8080
          predicates:
            - Path=/users/**

server:
  port: 8085
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG